@import 'https://fonts.googleapis.com/css?family=Roboto';*
{
    font-family: Roboto;
}.navigation
{
    position: fixed;z-index: 1;top: 0;left: 0;width: 200px;height: 100%;background-color: #192028;box-shadow: 0 10px 20px gray;
}@media (max-width:800px)
{
    .navigation
    {position: absolute;top: 0;display: -webkit-box;display: -ms-flexbox;display: flex;

        width: 100%;height: 90px;box-shadow: 0 5px 10px gray;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
    }
}.navigation .menu
{position: relative;display: none;width: 50px;height: 50px;margin-right: 20px;cursor: pointer;

    -webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;align-items: center;
}.navigation .menu span,
.navigation .menu span:before,
.navigation .menu span:after
{position: relative;display: block;width: 100%;height: 3px;

    content: '';-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;background: #fff;
}.navigation .menu span:before
{
    top: 15px;
}.navigation .menu span:after
{
    top: -18px;
}@media (max-width:800px)
{
    .navigation .menu
    {
        display: -webkit-box                                ;display: -ms-flexbox;display: flex;
    }
}.navigation .is-open span
{-webkit-transition: all .5s ease-in-out                                                                        ;transition: all .5s ease-in-out;-webkit-transform: rotate(180deg);transform: rotate(180deg);

    background-color: transparent !important;
}.navigation .is-open span:before
{-webkit-transition: all .5s ease-in-out                                                                                        ;transition: all .5s ease-in-out;-webkit-transform: translateY(-15px) rotate(45deg);transform: translateY(-15px) rotate(45deg);
    -webkit-transform-origin: center;transform-origin: center;
}.navigation .is-open span:after
{-webkit-transition: all .5s ease-in-out                                                                                        ;transition: all .5s ease-in-out;-webkit-transform: translateY(15px) rotate(-45deg);transform: translateY(15px) rotate(-45deg);
    -webkit-transform-origin: center;transform-origin: center;
}.logo
{z-index: 1;width: 110px;
    height: 100px;margin: auto;
}@media (max-width:800px)
{
    .logo
    {width: 60px;height: 60px;
        margin-left: 20px;
    }
}.logo a
{position: relative;

    display: block;height: 100px;text-decoration: none;
}@media (max-width:800px)
{
    .logo a
    {
        height: 60px;
    }
}.logo a:hover
{
    cursor: pointer;color: pink;
}.logo a p
{font-size: 64px;line-height: 100px;text-align: right;

    color: white;
}@media (max-width:800px)
{
    .logo a p
    {
        font-size: 30px;line-height: 0;
    }
}.nav-links-wrapper
{
    position: fixed;top: 0;left: 0;display: -webkit-box;display: -ms-flexbox;display: flex;width: 200px;height: 100%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}.nav-links-wrapper .social-icons
{
    position: fixed;bottom: 20px;left: 15px;display: -webkit-box;display: -ms-flexbox;display: flex;width: 170px;height: 50px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}@media (max-width:800px)
{
    .nav-links-wrapper .social-icons
    {
        display: none;
    }
}.nav-links-wrapper .social-icons i
{-webkit-transition: all .2s ease-in-out                                        ;transition: all .2s ease-in-out;

    color: white;
}.nav-links-wrapper .social-icons i:hover
{
    color: #525564;
}@media (max-width:800px)
{
    .nav-links-wrapper
    {position: absolute;

        width: 100%;height: 90px;
    }
}.nav-links
{display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: column;width: 110px;
    height: 30%;margin: auto;-webkit-transition: all .5s ease-in-out;transition: all .5s ease-in-out;text-align: right;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}@media (max-width:800px)
{
    .nav-links
    {z-index: 0;

        display: block;width: 100%;height: auto;-webkit-transform: translateY(-270px);transform: translateY(-270px);text-align: center;dispay: flex;-webkit-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;align-items: center;
    }
}@media (max-width:800px)
{
    .nav-links .nav-link
    {
        display: -webkit-box                                                                                                                                ;display: -ms-flexbox;display: flex;width: 100%;height: 90px;background-color: #192028;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    }
}.nav-links .nav-link a
{font-size: 18px;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;
    text-decoration: none;letter-spacing: 2px;color: white;
}@media (max-width:800px)
{
    .nav-links .nav-link a
    {
        font-size: 16px;line-height: 90px;width: 100%;height: 100%;
    }
}.nav-links .nav-link a:hover
{
    color: #525564;
}.nav-open .nav-links
{
    -webkit-transform: translateY(90px)                        ;transform: translateY(90px);
}#main
{max-width: 100%;
    height: auto;margin-left: 200px;
}@media (max-width:800px)
{
    #main
    {
        width: 100%;margin-top: 90px;margin-right: 0;margin-left: 0;
    }
}.landing
{display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: row;width: 100%;
    min-height: 800px;margin: none;background-color: #95c1cc;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;
}@media (max-width:800px)
{
    .landing
    {
        min-height: 600px;
    }
}.landing .landing-text
{font-size: 62px;font-weight: 900;margin: auto;

    text-align: center;letter-spacing: 6px;color: #525564;-webkit-box-flex: 1;-ms-flex: 1;flex: 1;
}.landing .landing-text h4
{
    font-size: 20px;margin-top: 0;
}@media (max-width:800px)
{
    .landing .landing-text
    {
        font-size: 40px;letter-spacing: 3px;
    }
}@media (max-width:440px)
{
    .landing .landing-text
    {
        font-size: 28px;letter-spacing: normal;
    }
}.about
{display: block;width: 100%;
    height: auto;
}.about h1
{
    font-size: 38px;margin-top: 50px;text-align: center;
}.about .about-info
{display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: column;width: 100%;
    min-height: 400px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;
}@media (min-width:800px)
{
    .about .about-info
    {display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: row;

        max-width: 800px;margin: auto;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    }
}.about .about-info .o-image
{width: 250px;
    height: 250px;margin: 0 55px;border-radius: 100%;background-image: url('../img/orlando.jpg');background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}.about .about-info .bio
{
    width: 100%;
}@media (min-width:800px)
{
    .about .about-info .bio
    {
        width: 60%;
    }
}.about .about-info .bio .bio-text
{
    font-size: 18px                        ;font-size: 24px;width: 80%;margin: auto;
}@media (min-width:800px)
{
    .about .about-info .bio .bio-text
    {
        font-size: 18px;
    }
}.projects
{
    display: block;width: 100%;height: auto;
}.projects h1
{font-size: 32px;font-weight: lighter;margin-top: 70px;

    text-align: center;
}.projects .view-project
{
    max-width: 220px;margin: auto;margin-bottom: 20px;
}.projects .view-project:first-of-type
{
    max-width: 130px;
}.projects .view-project a
{
    text-decoration: none;
}.projects .view-project a button
{margin: 5px;padding: 10px;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;color: #525564;border: none;
    background-color: #95c1cc;box-shadow: 0 3px 5px 0 gray;
}.projects .view-project a button:hover
{
    cursor: pointer;background-color: #79b1bf;
}.projects .project
{max-width: 800px;
    min-height: 500px;margin: auto;
}@media (min-width:800px)
{
    .projects .project
    {display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: row;

        min-height: 350px;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
    }
}.projects .project .project-description
{font-size: 24px;

    height: 60%;margin-left: 10px;
}@media (min-width:800px)
{
    .projects .project .project-description
    {
        font-size: 18px;display: -webkit-box;display: -ms-flexbox;display: flex;flex-direction: column-reverse;width: 60%;height: auto;margin: 0;-webkit-box-orient: vertical;-webkit-box-direction: reverse;-ms-flex-direction: column-reverse;
    }
}.projects .project .project-description .tech-icons
{display: -webkit-box;display: -ms-flexbox;display: flex;

    width: 80%;margin: auto;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-wrap: wrap;flex-wrap: wrap;
}.projects .project .project-description .tech-icons .icon
{margin: 5px;padding: 10px;color: white;border: none;
    background-color: #525564;box-shadow: 0 3px 5px 0 gray;
}.projects .project .project-description .description-text
{
    width: 80%;margin: auto;
}.projects .project .image
{
    height: 250px;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}.projects .project .image a
{
    display: block;height: 250px;
}@media (min-width:800px)
{
    .projects .project .image
    {
        width: 400px;
    }
}.projects .project .cmw
{
    background-image: url('../img/cmw.png');
}.projects .project .url
{
    background-image: url('../img/url.png');
}.projects .project .weather
{
    background-image: url('../img/weather.png');
}.contact
{width: 100%;
    max-height: 500px;margin-bottom: 100px;padding: 0;
}@media (max-width:800px)
{
    .contact
    {
        margin-top: 100px;margin-bottom: 0;
    }
}.contact .cta
{max-width: 600px;height: 100px;margin: auto;

    background-color: #525564;
}@media (max-width:800px)
{
    .contact .cta
    {
        width: 100%;max-width: 100%;
    }
}.contact .cta h1
{
    font-size: 36px;font-weight: 100;line-height: 100px;text-align: center;color: white;
}@media (max-width:800px)
{
    .contact .cta h1
    {
        font-size: 6vw;
    }
}.contact .contact-card
{font-size: 54px;line-height: 200px;

    max-width: 600px;height: auto;margin: auto;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;text-align: center;color: #525564;border: none;background-color: #95c1cc;box-shadow: 0 3px 5px 0 gray;
}@media (max-width:800px)
{
    .contact .contact-card
    {font-size: 24px;font-size: 8vw;line-height: 150px;width: 100%;
        max-width: 100%;height: 150px;
    }
}.contact .contact-card:hover
{
    background-color: #79b1bf;
}.contact .contact-card a
{
    text-decoration: none;color: #525564;
}.contact .contact-card a p
{
    margin: 0;
}.contact .mobile-icon-wrapper
{display: none;

    width: 100%;height: 150px;background-color: #95c1cc;
}@media (max-width:800px)
{
    .contact .mobile-icon-wrapper
    {
        display: block;
    }
}.contact .mobile-icon-wrapper .mobile-icons
{display: -webkit-box;display: -ms-flexbox;display: flex;

    max-width: 320px;height: 100%;margin: auto;padding: 0 5px;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
}.contact .mobile-icon-wrapper .mobile-icons a
{
    display: -webkit-box                                                                ;display: -ms-flexbox;display: flex;height: 100%;text-decoration: none;color: #525564;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}.contact .mobile-icon-wrapper .mobile-icons a:hover i
{
    color: #838799;
}.contact .mobile-icon-wrapper .mobile-icons a i
{
    -webkit-transition: all .2s ease-in-out                        ;transition: all .2s ease-in-out;
}.footer
{display: -webkit-box;display: -ms-flexbox;display: flex;height: 100px;
    margin: 0;text-align: center;color: white;background-color: #525564;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}.footer p
{
    margin: auto;
}@media (max-width:800px)
{
    .anchor
    {position: relative;

        display: block;visibility: hidden;
    }
}
